body{
    background-color:rgb(35, 35, 31);
    font-family:Georgia, 'Times New Roman', Times, serif
}
.comp{
    color: rgb(23, 21, 87);
    margin-left: 20px;
    font-size: 20px;
}
.logo{
    display: flex;
}
#status{
    padding-left: 175px;
    font-size: 20px;
}
#pho{
    width: 50px;
    margin-left: 10px;
}
.card{
    width: 100%;
    height: 500px;
    max-width: 1500px;
    justify-content: center;
    margin:50px auto;
    margin-bottom: 20px;
    padding: 60px 0;
    background:rgb(0, 0, 0);
    border-radius: 20px; 
    color: white;
}
.flex{
    display: flex;
    align-items: center;
}
#inp{
    margin-top: -20px;
    border-radius: 20px;
    outline: 0;
    border: 0;
    padding-left: 20px;
    height: 60px;
    width: 40%;
    font-size: 20px;
    margin-left: 28%;
    transition-duration: 0.4s;

}
.flexchild{
    margin-left: 130px;
    box-sizing: border-box;
}
.description{
    margin-left: 220px;
    margin-top: -20px;
}
#btn{
    margin-left: 20px;
    border-radius: 50%;
    border: 0;
    height: 60px;
    width: 60px;
    background: #ebfffc;
    cursor: pointer;   
    transition-duration: 0.4s;
}
#btn:hover {
    background-color: #04AA6D;
    color: white;
}
.weather-icon{
    margin-left: 80px;
    width:300px;
}
.weather h1{
    font-size: 60px;
    margin-left: 160px;
    margin-top: -10px;
    font-weight: 900;
}
.weather h2{
    width: 100%;
    font-size: 30px;
    margin-left: 150px;
    font-weight: 500;
    display: block;
}

.details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -10px;
    color: white;
}
.col{
    display: flex;
    margin-bottom: -10px;
}
.col img{
    width: 80px;
    margin-right: 25px;
}
.humidity ,.wind{
    font-size: 25px;
    margin-top: -10px;
}
.weather{
    display: none;
}
.errormsg{
    margin-left: 430px;
    font-size: 20px;
    display:none;
}
.imgs{
    width: 300px;
    height: auto;
    margin-top: -350px;
    display: block;
    margin-left: 1201px;
    box-sizing: border-box;
    animation: changeimg 2s linear 1 forwards;
    display: none;
}
@keyframes changeimg{
    from{
        transform: translateX(-20px);
    }
    to{
        transform: translateX(-80px);
    }
}